@media screen and (max-width:576px){
    /* Home */
    .top{
        font-size: 25px;
        text-align: center;
      }
      .name{
        font-size: 45px;
        text-align: center;
      }
      .text{
        font-size: 25px;
        justify-content: center;
      }
      .ms-5{
        margin-left: 0px!important;
      }
      /* About */
      .rotate-img{
        display: none;
      }

      .p-img{
        height: 250px;

      }

      .portfolio-card{
        width: 90%;
      }
}